.hero-banner {
  display: flex;
  /*grid-template-columns: 1fr 1fr;*/
  justify-content: space-between;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  z-index: 3;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
}

.main-text {
  font-size: clamp(1.5rem, 1rem + 3vw, 4.75rem);
  line-height: 1.2;
  margin-bottom: 60px;
}

.subtext {
  margin-top: auto;
  font-size: 18px;
  font-family: eUkraine, sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4);
}

.main-text span {
  color: var(--light-gray-color);
  background: var(--main-color);
  padding: 2px 10px;

}

.fridge {
  position: relative;
  margin-left: 50px;
  z-index: 2;
}

.fridge-wrapper {
  display: flex;
  align-items: center;
  max-width: 650px;
}

.fridge-features {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  z-index: 10;
}

.fridge-features span {
  font-size: 30px;
}

.features-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: var(--black-color);
}

.features {
  display: flex;
  justify-content: space-between;
  /*background: var(--main-color);*/
  width: 50vw;
}

.features li {
  position: relative;
  padding: 25px 55px;
  color: white;
  font-size: 40px;
}

.features li:not(:last-child):before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 2px;
  height: 30%;
  background: white;
}

.features li p {
  font-size: 16px;
  color: var(--main-color);
}

.mobile-text {
  display: none;
}

@media screen and (max-width: 1000px) {
  .hero-banner {
    flex-direction: column;
    padding: 0;
    padding-top: 50px;
  }

  .desktop-text {
    display: none;
  }

  .mobile-text {
    display: block;
    text-align: center;
    font-size: clamp(1.5rem, 1rem + 3.2vw, 4.75rem);
  }

  .fridge-wrapper {
    margin: 0 auto;
  }

  .subtext {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .fridge-wrapper {
    margin: initial;
  }
}
