.order-process {
  padding: 0 5.3vw;
  margin-bottom: 150px;
}

.order-process h2 {
  font-size: clamp(1.5rem, 1rem + 3.5vw, 3.75rem);
  margin-bottom: 70px;
}

.order-process h2 span {
  color: var(--light-gray-color);
  background: var(--main-color);
  padding: 0 5px;
}

@media screen and (max-width: 600px) {
  .order-process {
    margin-bottom: 75px;
  }
}
