.in-stock {
    padding: 50px 5.3vw;
}

.in-stock h2 {
    display: inline-block;
    padding: 0 5px;
    position: relative;
    font-size: clamp(1.5rem, 1rem + 3.5vw, 3.75rem);
    margin-bottom: 80px;
}

.in-stock h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background: var(--main-color);
}

.tab-list {
    display: flex;
    justify-content: center;
    gap: 3vw;
    font-size: 22px;
    font-family: NeueMachinaRegular, 'sans-serif';
    margin-bottom: 70px;
}

.tab {
    width: 100%;
    text-align: center;
    padding: 10px 40px;
    cursor: pointer;
    transition: 0.35s ease all;
}

.tab:hover {
    background: rgba(0, 0, 0, 0.2);;
    color: rgba(255, 255, 255, 1);
}

.selected-tab {
    background: var(--main-color);
    color: white;
}

.items {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 3vw;
    row-gap: 40px;
}

.items li {
    padding: 20px;
    background: white;


    img {
        margin-bottom: 20px;
    }

    h3 {
        font-size: 20px;
        color: var(--main-color);
        margin-bottom: 15px;
    }

    p {
        font-size: 18px;
    }
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price svg {
    border-radius: 5px;
    background: var(--main-color);
    padding: 7px;
}

.price path {
    fill: white;
}

@media screen and (max-width: 1000px) {
    .tab-list {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .in-stock h2 {
        margin-bottom: 40px;
    }

    .models {
        grid-template-columns: 1fr 1fr;
    }

    .tab-list {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .tab {
        padding: 10px;
    }

    .tab span {
        display: block;
        max-width: 135px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 580px) {
    .tab-list {
        font-size: 14px;
    }
}
