.contact-us h2 {
  font-size: 60px;
  margin-bottom: 70px;
}

.contact-us h2 span {
  color: var(--main-color);
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 800px;
}

.contact-wrapper h3 {
  font-size: clamp(1.5rem, 1rem + 4vw, 4.75rem);
  color: white;
  margin-bottom: 20px;
  /*font-family: NeueMachinaUltraBold;*/
}

.contact-wrapper img {
  object-fit: cover;
}

.contact-wrapper p {
  /*font-family: NeueMachinaLight, "sans-serif";*/
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 80px;
}

.text {
  width: 100%;
  padding: 50px;
  background: var(--main-color);
}

.text p {
  font-weight: 300;
  font-size: 16px;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.input {
  position: relative;
  max-width: 550px;
}

.input input {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  /*font-family: NeueMachinaRegular, sans-serif;*/
  font-size: 20px;
  color: white;
  outline: none;
  transition: 0.35s ease all;
}

.input label {
  position: absolute;
  top: 15px;
  color: var(--light-gray-color);
  /*font-family: NeueMachinaRegular, sans-serif;*/
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input input:focus {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.send-button {
  background: white;
  border: none;
  padding: 10px 35px;
  border-radius: 20px;
  /*font-family: NeueMachinaRegular, sans-serif;*/
  text-transform: uppercase;
}

@media screen and (max-width: 1100px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .contact-wrapper img {
    display: none;
  }

  .text {
    padding: 40px 5.3vw;
  }
}

@media screen and (max-width: 600px) {
  .contact-wrapper p {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .input label {
    font-size: 12px;
  }

  .text p {
    font-size: 14px;
  }

  .contact-us input {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 16px;
  }
}
