@font-face {
  font-family: "DisketMonoRegular";
  font-weight: 400;
  src: url("assets/fonts/Disket-Mono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DisketMonoBold";
  font-weight: 600;
  src: url("assets/fonts/Disket-Mono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NeueMachinaUltralight";
  src: url("assets/fonts/NeueMachina-Ultralight.woff2") format("woff2");
}

@font-face {
  font-family: "NeueMachinaLight";
  src: url("assets/fonts/NeueMachina-Light.woff2") format("woff2");
}

@font-face {
  font-family: "NeueMachinaRegular";
  src: url("assets/fonts/NeueMachina-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "NeueMachinaUltrabold";
  src: url("assets/fonts/NeueMachina-Ultrabold.woff2") format("woff2");
}

@font-face {
  font-family: "eUkraine";
  font-weight: 100;
  src: url("assets/fonts/e-Ukraine-Thin.otf") format("opentype");
}
@font-face {
  font-family: "eUkraine";
  font-weight: 200;
  src: url("assets/fonts/e-Ukraine-UltraLight.otf") format("opentype");
}
@font-face {
  font-family: "eUkraine";
  font-weight: 300;
  src: url("assets/fonts/e-Ukraine-Light.otf") format("opentype");
}

@font-face {
  font-family: "eUkraine";
  font-weight: 400;
  src: url("assets/fonts/e-Ukraine-Regular.otf") format("opentype");
}

@font-face {
  font-family: "eUkraine";
  font-weight: 600;
  src: url("assets/fonts/e-Ukraine-Bold.otf") format("opentype");
}

@font-face {
  font-family: "eUkraineHead";
  font-weight: 100;
  src: url("assets/fonts/e-UkraineHead-Thin.otf") format("opentype");
}
@font-face {
  font-family: "eUkraineHead";
  font-weight: 200;
  src: url("assets/fonts/e-UkraineHead-UltraLight.otf") format("opentype");
}
@font-face {
  font-family: "eUkraineHead";
  font-weight: 300;
  src: url("assets/fonts/e-UkraineHead-Light.otf") format("opentype");
}
@font-face {
  font-family: "eUkraineHead";
  font-weight: 400;
  src: url("assets/fonts/e-UkraineHead-Regular.otf") format("opentype");
}
@font-face {
  font-family: "eUkraineHead";
  font-weight: 600;
  src: url("assets/fonts/e-UkraineHead-Bold.otf") format("opentype");
}

:root {
  --main-color: #d09882;
  --second-color: rgb(244, 245, 248);
  --gray-color: rgba(231, 231, 231, 0.3);
  --light-gray-color: rgb(248, 248, 248);
  --dark-gray-color: rgba(231, 231, 231, 1);
  --black-color: #020202;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /*font-family: DisketMonoRegular, "sans-serif";*/
  /*font-weight: 600;*/
  color: var(--black-color);
  position: relative;
  background: var(--gray-color);
}

body {
  font-family: eUkraine, "sans-serif" !important;
  font-weight: 600;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 5.3vw;
}
