@font-face {
  font-family: "DisketMonoRegular";
  font-weight: 400;
  src: url("assets/fonts/Disket-Mono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DisketMonoBold";
  font-weight: 600;
  src: url("assets/fonts/Disket-Mono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "NeueMachinaUltralight";
  src: url("assets/fonts/NeueMachina-Ultralight.woff2") format("woff2");
}

@font-face {
  font-family: "NeueMachinaLight";
  src: url("assets/fonts/NeueMachina-Light.woff2") format("woff2");
}

@font-face {
  font-family: "NeueMachinaRegular";
  src: url("assets/fonts/NeueMachina-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "NeueMachinaUltrabold";
  src: url("assets/fonts/NeueMachina-Ultrabold.woff2") format("woff2");
}



:root {
  --main-color: #d09882;
  --second-color: rgb(244, 245, 248);
  --gray-color: rgba(231, 231, 231, 0.4);
  --black-color: #020202;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: DisketMonoRegular, 'sans-serif';
  font-weight: 600;
  color: var(--black-color);
  position: relative;
  background: var(--gray-color);
}



ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}