@font-face {
  font-family: "Mazzard";
  font-weight: 400;
  src: url("assets/fonts/MazzardH-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Mazzard";
  font-weight: 600;
  src: url("assets/fonts/MazzardH-Bold.woff2") format("woff2");
}

:root {
  --main-color: #d09882;
  --second-color: rgb(244, 245, 248);
  --gray-color: rgba(231, 231, 231, 0.3);
  --light-gray-color: rgb(248, 248, 248);
  --dark-gray-color: rgba(231, 231, 231, 1);
  --black-color: #020202;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  color: var(--black-color);
  position: relative;
  background: var(--gray-color);
}

body {
  font-family: Mazzard, "sans-serif" !important;
  font-weight: 600;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 5.3vw;
}
