.about-us {
  padding: 50px 5.3vw;
}

.mini-title {
  display: block;
  margin: 0 auto 50px;
  text-align: center;
}

.about-us h2 {
  margin: 0 auto 50px;
  max-width: 1000px;
  font-size: clamp(1.25rem, 0.9466rem + 1.2945vw, 2.5rem);
  text-align: center;
}

.about-us p {
  margin: 0 auto;
  max-width: 900px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;
}



.slider {
  margin: 120px 0px;

  img {
    object-fit: cover;
  }

  :global .slick-slide {
    padding: 0 15px;
  }

  :global .slick-slide div {
    outline: none;
  }
}

.slide {
  width: 100%;
}

.every-year {
  margin-bottom: 150px;
}

.team-members {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  justify-content: center;
  margin-bottom: 120px;
}

.team-members img {
  object-fit: cover;
}

.team-description {
  margin-bottom: 120px !important;
}

.partners {
  background: var(--main-color);
  padding: 2.5vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.partners svg path {
  fill: rgba(255, 255, 255, 0.4);
}


@media screen and (max-width: 768px) {
  .about-us h2 {
    margin: 0 auto 20px;
  }

  .about-us p {
    font-size: 16px;
  }

  .mini-title {
    margin: 0 auto 20px;
  }

  .slider {
    margin: 60px 0;
  }

  .every-year {
    margin-bottom: 75px;
  }

  .team-members {
    margin-bottom: 70px;
  }

  .partners {
    svg {
      width: 30%;
    }
  }

  .team-description {
    margin-bottom: 40px !important;
  }
}

@media screen and (max-width: 480px) {
  .slider img {
    height: 250px;
  }
}
