.slide {
  flex: 1 0 100%;
  position: relative;
}

.slide-image {
  display: flex;
  margin: 0 auto;
  max-height: 35vw;
  /*width: 100%;*/
  object-fit: contain;
}

.slide-title {
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  .slide-image {
    /*max-height: 420px;*/
  }
}
