.dots {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 50px;
  gap: 40px;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}

.dot:hover {
  cursor: pointer;
}

.selected {
  color: var(--black-color);
}

.arrow {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--dark-gray-color);
  width: 40px;
  height: 40px;
}

.arrow:hover {
  cursor: pointer;
}

.left {
  background-image: url("../../../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
  transform: rotate(-180deg);
}

.right {
  background-image: url("../../../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
}

@media screen and (max-width: 1000px) {
  .dots {
    padding: 50px 0;
  }
}

@media screen and (max-width: 800px) {
  .dots {
    gap: 20px;
  }
}

@media screen and (max-width: 568px) {
  .dots {
    font-size: 14px;
    margin-top: 0;
  }

  .arrow {
    width: 30px;
    height: 30px;
  }
}
